Repository deicod/erm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deicod/maintainers, @deicod/orm, @deicod/graphql, @deicod/security, @deicod/cli

.github/CODEOWNERS:

* @deicod/maintainers

/internal/orm/ @deicod/orm
/internal/graphql/ @deicod/graphql
/internal/oidc/ @deicod/security
/cmd/erm/ @deicod/cli

feat: add generator change detection and watch mode
  docs/development-workflow.md
  go.mod
  go.sum
  internal/cli/gen.go
  internal/cli/gen_test.go
  internal/generator/graphql.go
  internal/generator/graphql_config.go
  internal/generator/migrations.go
  internal/generator/run.go
  internal/generator/run_test.go
  internal/generator/state.go
  internal/generator/tracker.go
  internal/generator/write.go
Owners: @deicod/maintainers

feat: add ORM query observability instrumentation
  docs/performance-observability.md
  examples/blog/README.md
  examples/blog/erm.yaml
  internal/cli/project.go
  internal/graphql/dataloaders/loader_test.go
  internal/observability/metrics/metrics.go
  internal/orm/pg/driver.go
  internal/orm/runtime/observability.go
  internal/orm/runtime/query_test.go
Owners: @deicod/maintainers, @deicod/graphql, @deicod/orm

fix: defer aggregate observation completion until scan
  internal/orm/pg/driver.go
Owners: @deicod/orm

feat: add bulk runtime and pool tuning
  benchmarks/orm/bulk_bench_test.go
  docs/performance-observability.md
  erm.yaml
  examples/blog/erm.yaml
  examples/blog/orm_test.go
  internal/cli/project.go
  internal/generator/orm.go
  internal/orm/gen/client_gen.go
  internal/orm/gen/registry_gen.go
  internal/orm/pg/driver.go
  internal/orm/pg/driver_test.go
  internal/orm/runtime/bulk.go
  internal/orm/runtime/bulk_test.go
  internal/orm/runtime/cache/store.go
  internal/orm/runtime/cache/store_test.go
  internal/orm/runtime/stream.go
  internal/orm/runtime/stream_test.go
Owners: @deicod/maintainers, @deicod/orm

feat: enhance migration workflows
  .github/workflows/ci.yml
  docs/SUMMARY.md
  docs/ci-cd.md
  docs/cli.md
  docs/deployment.md
  erm.yaml
  internal/cli/gen_test.go
  internal/cli/migrate.go
  internal/cli/project.go
  internal/orm/migrate/migrate.go
  internal/orm/migrate/migrate_test.go
  internal/testing/smoke_test.go
  migrations/001_initial_down.sql
Owners: @deicod/maintainers, @deicod/orm

fix: finalize computed column support
  docs/performance-observability.md
  docs/schema-definition.md
  examples/blog/graphql_test.go
  examples/blog/orm_test.go
  examples/blog/schema/User.schema.go
  examples/blog/validation_runtime_test.go
  internal/generator/migrations.go
  internal/generator/migrations_test.go
  internal/generator/orm.go
  internal/generator/orm_test.go
  internal/generator/parser.go
  internal/generator/schema_diff.go
  internal/generator/schema_snapshot.go
  internal/orm/dsl/schema.go
  internal/orm/gen/client_gen.go
  internal/orm/gen/models_gen.go
  internal/orm/gen/registry_gen.go
  internal/orm/runtime/spec.go
  internal/orm/runtime/zero.go
  schema/User.schema.go
Owners: @deicod/maintainers, @deicod/orm

fix: regenerate graphql subscriptions
  docs/examples.md
  docs/graphql-api.md
  docs/quickstart.md
  erm.yaml
  internal/generator/graphql.go
  internal/generator/parser.go
  internal/graphql/generated.go
  internal/graphql/models_gen.go
  internal/graphql/resolvers/entities_gen.go
  internal/graphql/resolvers/resolver.go
  internal/graphql/resolvers/subscription.resolvers.go
  internal/graphql/resolvers/subscription_test.go
  internal/graphql/resolvers/subscriptions.go
  internal/graphql/schema.graphqls
  internal/graphql/server/schema.go
  internal/graphql/server/server.go
  internal/graphql/subscriptions/bus.go
  internal/orm/dsl/schema.go
  schema/User.schema.go
Owners: @deicod/maintainers, @deicod/graphql, @deicod/orm

fix bus
  internal/graphql/subscriptions/bus.go
Owners: @deicod/graphql

feat: add replica-aware pg routing
  docs/deployment.md
  docs/performance-observability.md
  erm.yaml
  internal/cli/project.go
  internal/orm/gen/client_gen.go
  internal/orm/pg/driver.go
  internal/orm/pg/driver_test.go
  internal/orm/runtime/observability.go
  internal/orm/runtime/query_test.go
Owners: @deicod/maintainers, @deicod/orm

fix: route bulk updates through writer
  internal/orm/gen/client_gen.go
Owners: @deicod/orm

feat(cli): enrich schema skeleton onboarding
  docs/SUMMARY.md
  docs/getting-started-schema.md
  internal/cli/new.go
  schema/AGENTS.md
  schema/User.schema.go
Owners: @deicod/maintainers

feat: improve init skeleton onboarding
  docs/SUMMARY.md
  docs/getting-started-app.md
  docs/getting-started-schema.md
  internal/cli/init.go
  internal/cli/init_test.go
  internal/cli/new.go
  schema/AGENTS.md
  schema/User.schema.go
Owners: @deicod/maintainers

feat: derive GraphQL imports from project module
  docs/cli.md
  internal/generator/graphql.go
  internal/generator/graphql_test.go
  internal/generator/run.go
  internal/generator/util_test.go
Owners: @deicod/maintainers

feat: expose schema dsl
  SPECS/ORM.md
  docs/examples.md
  docs/getting-started-schema.md
  docs/quickstart.md
  docs/schema-definition.md
  examples/blog/edge_metadata_test.go
  examples/blog/performance_playbook_test.go
  examples/blog/schema/Comment.schema.go
  examples/blog/schema/Membership.schema.go
  examples/blog/schema/Post.schema.go
  examples/blog/schema/User.schema.go
  examples/blog/schema/Workspace.schema.go
  examples/vectorsearch/schema/Document.schema.go
  internal/cli/new.go
  internal/generator/graphql.go
  internal/generator/graphql_test.go
  internal/generator/migrations.go
  internal/generator/migrations_test.go
  internal/generator/orm.go
  internal/generator/orm_test.go
  internal/generator/parser.go
  internal/generator/parser_test.go
  internal/generator/state.go
  internal/generator/testdata/default_fk/schema/entities.schema.go
  internal/generator/util_test.go
  internal/orm/dsl/schema.go
  internal/orm/gen/metadata_test.go
  internal/orm/gen/registry_gen.go
  internal/orm/runtime/spec.go
  orm/dsl/schema.go
  schema/User.schema.go
Owners: @deicod/maintainers, @deicod/orm

fix: restore legacy DSL aliases
  internal/orm/dsl/schema.go
Owners: @deicod/orm

fix(cli): scaffold graphql assets in public dir
  cli/graphql.go
  cli/graphql_test.go
Owners: @deicod/maintainers

fix: preserve initialisms in generator naming
  generator/graphql.go
  generator/graphql_test.go
  generator/naming.go
  generator/orm.go
  generator/orm_test.go
Owners: @deicod/maintainers

feat: add GraphQL resolver hooks
  generator/graphql.go
  generator/graphql_test.go
  graphql/resolvers/entities_gen.go
  graphql/resolvers/entities_hooks.go
  graphql/resolvers/hooks_test.go
  graphql/resolvers/resolver.go
Owners: @deicod/maintainers

feat: support nullable field generation
  generator/graphql.go
  generator/orm.go
  generator/orm_test.go
Owners: @deicod/maintainers

fix: handle sql null scalars in graphql generation
  generator/graphql.go
  generator/orm_test.go
Owners: @deicod/maintainers

fix: order initial migrations by dependencies
  generator/migrations.go
  generator/migrations_test.go
Owners: @deicod/maintainers

feat: scaffold graphql runtime packages
  cli/graphql.go
  cli/graphql_integration_test.go
  cli/graphql_templates.go
  cli/graphql_test.go
  cli/templates/graphql/dataloaders/loader.go.tmpl
  cli/templates/graphql/directives/auth.go.tmpl
  cli/templates/graphql/relay/id.go
  cli/templates/graphql/server/schema.go.tmpl
  cli/templates/graphql/server/server.go
  cli/templates/graphql/subscriptions/bus.go
Owners: @deicod/maintainers

feat: scaffold api server wiring
  cli/graphql_integration_test.go
  cli/init.go
  cli/init_integration_test.go
  cli/init_test.go
  cli/templates/graphql/server/options_stub.go
Owners: @deicod/maintainers

docs: add guide for extending generated code
  README.md
  docs/customizing-generated-code.md
  docs/development-workflow.md
Owners: @deicod/maintainers

chore: allow external go install
  docs/cli.md
  go.mod
Owners: @deicod/maintainers

feat: add enum metadata and typed defaults
  docs/schema-definition.md
  generator/graphql.go
  generator/graphql_test.go
  generator/migrations.go
  generator/migrations_test.go
  generator/orm.go
  generator/parser.go
  generator/parser_test.go
  generator/schema_diff.go
  generator/schema_snapshot.go
  generator/state.go
  orm/dsl/schema.go
  orm/runtime/spec.go
Owners: @deicod/maintainers

fix: add GraphQL enum conversion helpers
  generator/graphql.go
Owners: @deicod/maintainers

fix: sync gqlgen scalar model mappings
  cli/graphql.go
  cli/graphql_test.go
  generator/graphql_config.go
  generator/graphql_config_test.go
  graphql/gqlgen.yml
Owners: @deicod/maintainers

fix: initialize gqlgen defaults after scalars
  generator/graphql_config.go
Owners: @deicod/maintainers

fix: skip runtime GraphQL scalar declarations
  generator/graphql.go
  generator/graphql_test.go
Owners: @deicod/maintainers

fix: emit custom scalars missing from base schema
  generator/graphql.go
  generator/graphql_test.go
Owners: @deicod/maintainers

feat: scaffold graphql scalar helpers
  cli/graphql_integration_test.go
  cli/graphql_templates.go
  cli/templates/graphql/scalars.go.tmpl
  generator/graphql.go
  generator/graphql_scalars.go
  generator/graphql_test.go
Owners: @deicod/maintainers

test: add shared GraphQL runtime scaffolding helper
  cli/graphql_integration_test.go
  cli/init_integration_test.go
  generator/graphql_test.go
  testing/graphql_runtime.go
Owners: @deicod/maintainers

test: verify gqlgen respects registered scalars
  generator/graphql_test.go
Owners: @deicod/maintainers

fix: handle nullable foreign keys in loaders
  generator/orm.go
  generator/orm_test.go
Owners: @deicod/maintainers

fix: scaffold graphql runtime before generation
  cli/gen_integration_test.go
  cli/graphql.go
  cli/graphql_integration_test.go
  cli/graphql_templates.go
  cli/init.go
  cli/templates/graphql/scalars.go.tmpl
  cmd/api/main.go
  docs/cli.md
  generator/gqlgen.go
  generator/gqlgen_testhelper.go
  generator/graphql.go
  generator/graphql_config.go
  generator/graphql_config_test.go
  generator/graphql_scalars.go
  generator/graphql_test.go
  generator/run_test.go
  generator/runtime_scaffold.go
  generator/runtime_scaffold_test.go
  graphql/types.go
  oidc/claims.go
  oidc/middleware.go
  templates/graphql/dataloaders/entities_gen.go.tmpl
  templates/graphql/dataloaders/loader.go.tmpl
  templates/graphql/directives/auth.go.tmpl
  templates/graphql/generated.go
  templates/graphql/relay/id.go
  templates/graphql/resolvers/entities_gen.go
  templates/graphql/resolvers/entities_hooks.go.tmpl
  templates/graphql/resolvers/resolver.go.tmpl
  templates/graphql/scalars.go.tmpl
  templates/graphql/server/options_stub.go
  templates/graphql/server/schema.go.tmpl
  templates/graphql/server/server.go
  templates/graphql/subscriptions/bus.go
  templates/graphql/types.go.tmpl
  templates/observability/metrics/metrics.go
  templates/oidc/claims.go
  templates/runtime.go
  testing/graphql_runtime.go
Owners: @deicod/maintainers

fix: defer runtime scaffolds until module path is known
  cli/init.go
  cli/init_test.go
Owners: @deicod/maintainers

gofmt
  cmd/api/main.go
  graphql/types.go
  templates/graphql/relay/id.go
  templates/graphql/server/server.go
  templates/graphql/subscriptions/bus.go
Owners: @deicod/maintainers

feat: add race detector test workflow
  Makefile
  cli/root.go
  cli/test.go
  cli/test_test.go
  docs/getting-started-schema.md
  docs/testing.md
  schema/AGENTS.md
Owners: @deicod/maintainers

fix: restore make target tabs
  Makefile
Owners: @deicod/maintainers
