Repository deicod/erm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deicod/maintainers, @deicod/orm, @deicod/graphql, @deicod/security, @deicod/cli

feat: add dataloaders and extension-aware generation
  go.mod
  internal/generator/migrations.go
  internal/generator/orm.go
  internal/generator/parser.go
  internal/graphql/dataloaders/loader.go
  internal/graphql/dataloaders/loader_test.go
  internal/graphql/resolvers/query.resolvers.go
  internal/graphql/resolvers/resolver.go
  internal/graphql/server/schema.go
  internal/observability/metrics/metrics.go
  internal/orm/dsl/schema.go
Owners: @deicod/maintainers, @deicod/graphql, @deicod/orm

feat: add oidc middleware bootstrap and tests
  internal/graphql/directives/auth.go
  internal/oidc/config.go
  internal/oidc/middleware.go
  internal/oidc/middleware_test.go
Owners: @deicod/graphql, @deicod/security

refactor(cli): compose commands via constructors
  internal/cli/gen.go
  internal/cli/graphql.go
  internal/cli/init.go
  internal/cli/new.go
  internal/cli/project.go
  internal/cli/root.go
Owners: @deicod/maintainers

feat(observability): add tracing hooks and pgx instrumentation
  benchmarks/orm/id_bench_test.go
  go.mod
  go.sum
  internal/observability/tracing/otel.go
  internal/observability/tracing/tracing.go
  internal/observability/tracing/tracing_test.go
  internal/orm/pg/driver.go
  internal/orm/pg/driver_test.go
  internal/orm/pg/tracing.go
  internal/orm/pg/tracing_test.go
Owners: @deicod/maintainers, @deicod/orm

fix(tracing): retain primary context in fan-out
  internal/observability/tracing/tracing.go
Owners: @deicod/maintainers

fix: correct graphql init resolver config
  internal/cli/graphql.go
  internal/cli/graphql_test.go
  internal/graphql/README.md
Owners: @deicod/maintainers, @deicod/graphql

feat: improve generator pluralization
  internal/generator/util.go
  internal/generator/util_test.go
Owners: @deicod/maintainers

Update ci.yml
  .github/workflows/ci.yml
Owners: @deicod/maintainers

feat(cli): add doctor diagnostic command
  internal/cli/doctor.go
  internal/cli/doctor/doctor.go
  internal/cli/doctor/printer.go
  internal/cli/doctor_test.go
  internal/cli/root.go
Owners: @deicod/maintainers

chore(ci): add release workflows and goreleaser
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yaml
  Makefile
Owners: @deicod/maintainers

chore: gofmt sources
  examples/blog/schema/Post.schema.go
  examples/blog/schema/User.schema.go
  internal/graphql/relay/id.go
  internal/oidc/keycloak.go
  internal/orm/id/uuidv7.go
  internal/orm/runtime/spec.go
  schema/User.schema.go
Owners: @deicod/maintainers, @deicod/graphql, @deicod/security, @deicod/orm

feat(examples): add vector search schema sample
  examples/vectorsearch/erm.yaml
  examples/vectorsearch/schema/Document.schema.go
Owners: @deicod/maintainers

docs: add comprehensive documentation suite
  .gitignore
  docs/README.md
  docs/SUMMARY.md
  docs/authentication.md
  docs/best-practices.md
  docs/cli.md
  docs/extensions.md
  docs/graphql-api.md
  docs/overview.md
  docs/performance-observability.md
  docs/quickstart.md
  docs/schema-definition.md
  docs/testing.md
  docs/troubleshooting.md
Owners: @deicod/maintainers

feat: support inverse edges in schema dsl
  SPECS/ORM.md
  internal/generator/orm.go
  internal/generator/parser.go
  internal/generator/parser_test.go
  internal/orm/dsl/schema.go
  internal/orm/runtime/spec.go
Owners: @deicod/maintainers, @deicod/orm

feat: generate edge foreign keys
  SPECS/ORM.md
  internal/generator/migrations.go
  internal/generator/migrations_test.go
Owners: @deicod/maintainers

fix: defer migration foreign keys
  internal/generator/migrations.go
Owners: @deicod/maintainers

feat: generate relationship helpers
  docs/best-practices.md
  docs/quickstart.md
  docs/schema-definition.md
  examples/blog/schema/Post.schema.go
  examples/blog/schema/User.schema.go
  internal/generator/orm.go
  internal/generator/orm_test.go
Owners: @deicod/maintainers

chore: gofmt orm generator files
  examples/blog/schema/Post.schema.go
  examples/blog/schema/User.schema.go
  internal/generator/orm.go
  internal/generator/orm_test.go
Owners: @deicod/maintainers

fix: normalize many-to-many join table naming
  internal/generator/migrations.go
  internal/generator/migrations_test.go
  internal/generator/orm.go
  internal/generator/orm_test.go
  internal/generator/util.go
Owners: @deicod/maintainers

fix: derive inverse edge column defaults
  internal/generator/parser.go
  internal/generator/parser_test.go
Owners: @deicod/maintainers

fix: align migration helpers with derived edge metadata
  internal/generator/migrations.go
Owners: @deicod/maintainers

fix: propagate default fk naming to synthesized inverses
  internal/generator/default_fk_test.go
  internal/generator/migrations_test.go
  internal/generator/parser.go
  internal/generator/parser_test.go
  internal/generator/testdata/default_fk/schema/entities.schema.go
Owners: @deicod/maintainers

docs: restore and expand documentation portal
  docs/README.md
  docs/SUMMARY.md
  docs/authentication.md
  docs/best-practices.md
  docs/cli.md
  docs/examples.md
  docs/extensions.md
  docs/graphql-api.md
  docs/overview.md
  docs/performance-observability.md
  docs/quickstart.md
  docs/schema-definition.md
  docs/testing.md
  docs/troubleshooting.md
Owners: @deicod/maintainers

docs: expand relationship recipes
  docs/schema-definition.md
Owners: @deicod/maintainers

feat: expand postgres field types
  SPECS/ORM.md
  docs/examples.md
  docs/extensions.md
  docs/quickstart.md
  docs/schema-definition.md
  examples/blog/schema/Post.schema.go
  examples/blog/schema/User.schema.go
  examples/vectorsearch/schema/Document.schema.go
  internal/cli/new.go
  internal/generator/graphql.go
  internal/generator/graphql_test.go
  internal/generator/migrations.go
  internal/generator/migrations_test.go
  internal/generator/orm.go
  internal/generator/orm_test.go
  internal/generator/parser.go
  internal/orm/dsl/schema.go
  schema/User.schema.go
Owners: @deicod/maintainers, @deicod/orm

feat: add schema snapshot diff-based migrations
  internal/cli/gen.go
  internal/generator/migrations.go
  internal/generator/migrations_test.go
  internal/generator/run.go
  internal/generator/schema_diff.go
  internal/generator/schema_snapshot.go
Owners: @deicod/maintainers

fix(generator): create join tables after base tables
  internal/generator/schema_diff.go
Owners: @deicod/maintainers

feat: add filesystem-backed migration runner
  go.mod
  go.sum
  internal/orm/migrate/migrate.go
  internal/orm/migrate/migrate_test.go
Owners: @deicod/maintainers, @deicod/orm

fix: sort discovered migrations by version
  internal/orm/migrate/migrate.go
Owners: @deicod/orm

feat(cli): add migrate command and generation options
  docs/cli.md
  docs/schema-definition.md
  docs/testing.md
  internal/cli/gen.go
  internal/cli/gen_test.go
  internal/cli/migrate.go
  internal/cli/project.go
  internal/cli/root.go
  internal/generator/migrations.go
  internal/generator/migrations_test.go
  internal/generator/run.go
  internal/generator/write.go
Owners: @deicod/maintainers

test: cover runtime query defaults
  docs/examples.md
  docs/schema-definition.md
  examples/blog/schema/Post.schema.go
  examples/blog/schema/User.schema.go
  internal/generator/orm.go
  internal/generator/orm_test.go
  internal/generator/parser.go
  internal/orm/dsl/schema.go
  internal/orm/gen/client_gen.go
  internal/orm/pg/driver.go
  internal/orm/runtime/query.go
  internal/orm/runtime/query_test.go
  schema/User.schema.go
Owners: @deicod/maintainers, @deicod/orm

fix: infer aggregate return type
  internal/generator/orm.go
Owners: @deicod/maintainers

fix: sync graphql docs and timestamptz scalar
  docs/graphql-api.md
  internal/generator/graphql.go
  internal/generator/graphql_test.go
  internal/graphql/dataloaders/entities_gen.go
  internal/graphql/dataloaders/loader.go
  internal/graphql/generated.go
  internal/graphql/gqlgen.yml
  internal/graphql/models_gen.go
  internal/graphql/resolvers/entities_gen.go
  internal/graphql/resolvers/query.resolvers.go
  internal/graphql/scalars.go
  internal/graphql/schema.graphqls
Owners: @deicod/maintainers, @deicod/graphql

feat(testing): add sandbox helpers and blog examples
  docs/best-practices.md
  docs/quickstart.md
  docs/testing.md
  examples/blog/graphql_test.go
  examples/blog/orm_test.go
  go.mod
  go.sum
  internal/generator/orm_test.go
  internal/orm/pg/driver.go
  internal/testing/doc.go
  internal/testing/graphql.go
  internal/testing/orm.go
  internal/testing/sandbox.go
Owners: @deicod/maintainers, @deicod/orm

feat: add editorial workspace blog playbooks
  docs/SUMMARY.md
  docs/examples.md
  docs/overview.md
  docs/performance-observability.md
  docs/quickstart.md
  docs/schema-definition.md
  docs/testing.md
  docs/troubleshooting.md
  examples/blog/README.md
  examples/blog/error_handling_playbook_test.go
  examples/blog/performance_playbook_test.go
  examples/blog/schema/Comment.schema.go
  examples/blog/schema/Membership.schema.go
  examples/blog/schema/Post.schema.go
  examples/blog/schema/User.schema.go
  examples/blog/schema/Workspace.schema.go
  examples/blog/validation_playbook_test.go
  examples/blog/walkthroughs/error-handling.md
  examples/blog/walkthroughs/performance-profiling.md
  examples/blog/walkthroughs/validation.md
Owners: @deicod/maintainers

feat: support polymorphic edges and cascade policies
  docs/performance-observability.md
  docs/schema-definition.md
  examples/blog/edge_metadata_test.go
  examples/blog/schema/Comment.schema.go
  examples/blog/schema/Post.schema.go
  internal/generator/migrations.go
  internal/generator/migrations_test.go
  internal/generator/orm.go
  internal/generator/orm_test.go
  internal/generator/parser.go
  internal/generator/schema_diff.go
  internal/generator/schema_snapshot.go
  internal/orm/dsl/schema.go
  internal/orm/gen/metadata_test.go
  internal/orm/runtime/spec.go
Owners: @deicod/maintainers, @deicod/orm

fix: parse polymorphic target helper
  internal/generator/parser.go
Owners: @deicod/maintainers

feat: add runtime validation registry
  docs/schema-definition.md
  docs/testing.md
  examples/blog/validation_runtime_test.go
  internal/generator/orm.go
  internal/generator/orm_test.go
  internal/orm/gen/client_gen.go
  internal/orm/runtime/validation/errors.go
  internal/orm/runtime/validation/record.go
  internal/orm/runtime/validation/registry.go
  internal/orm/runtime/validation/registry_test.go
  internal/orm/runtime/validation/string_rule.go
  internal/orm/runtime/validation/string_rule_test.go
Owners: @deicod/maintainers, @deicod/orm

gofmt
  .gitignore
Owners: @deicod/maintainers

feat(cli): add component targeting and structured errors
  docs/cli.md
  docs/quickstart.md
  internal/cli/doctor.go
  internal/cli/errors.go
  internal/cli/gen.go
  internal/cli/gen_test.go
  internal/cli/graphql.go
  internal/cli/graphql_test.go
  internal/cli/init.go
  internal/cli/migrate.go
  internal/cli/new.go
  internal/cli/root.go
  internal/generator/run.go
Owners: @deicod/maintainers

.github/CODEOWNERS:

* @deicod/maintainers

/internal/orm/ @deicod/orm
/internal/graphql/ @deicod/graphql
/internal/oidc/ @deicod/security
/cmd/erm/ @deicod/cli
